<div class="card">
    <div class="card__cover">
        <img src="https://image.tmdb.org/t/p/w500<%= recommendmovie.poster_path %>" alt="">
        <a href="/movies/detail" class="card__play">
            <i class="icon ion-ios-play"></i>
        </a>
    </div>
    <div class="card__content">
        <h3 class="card__title"><a href="/movies/detail"><%= recommendmovie.title %></a></h3>
        <span class="card__category">
            <%recommendmovie.genres.forEach(genre =>{%>                       
                <a href="#"><%=genre.name%></a>
            <%})%>
        </span>
        <span class="card__rate"><i class="icon ion-ios-star"></i><%=recommendmovie.vote_average/2%></span>
    </div>
</div>