<div class="card card--big">
    <div class="card__cover">
        <img src="img/covers/cover.jpg" alt="">
        <a href="/movies/detail" class="card__play">
            <i class="icon ion-ios-play"></i>
        </a>
    </div>
    <div class="card__content">
        <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
        <span class="card__category">
            <a href="#">Action</a>
            <a href="#">Triler</a>
        </span>
        <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
    </div>
</div>